@import "../../constants/fonts"
@import "../../constants/colors"

.container
  width: 100%
  max-width: 375pt

  .week
    display: flex
    justify-content: space-around
    padding: 0 16pt
    margin-bottom: 4pt

  .tableHeader
    background-color: $appBlue
    padding: 0 16pt
    color: white
    display: flex
    justify-content: space-around
    height: 20pt
    align-items: center
    margin-bottom: 8pt

    span
      opacity: 50%
      font-size: $fontSizeSmall








