@import "../../constants/colors"
@import "../../constants/fonts"

=flexContainerMiddle()
  display: flex
  justify-content: center
  align-items: center

.container
  +flexContainerMiddle()
  flex-direction: column
  width: 100%
  height: 40pt
  max-width: 40pt
  cursor: pointer
  border-radius: 6pt
  box-sizing: border-box

  &:hover
    border: 3pt solid $appBlue

  .date
    flex: 2
    font-family: $fontFamily
    font-weight: 400
    font-size: 16pt

  .roundContainer
    flex: 1
    +flexContainerMiddle()

    .round
      border-radius: 50%
      background-color: red
      height: 3pt
      width: 3pt

  .eventContainer
    flex: 1
    +flexContainerMiddle()

    .event
      height: 3pt
      border-radius: 1.5pt
      background-color: $appGreen
      width: 24pt

.selected
  color: white
  background-color: $appBlue

.otherMonth
  color: $appGray





